.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #f97316);
}
.card {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}
